<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hausaufgabe</title>

    <link rel="stylesheet" type="text/css" href="bower_components/angularjs-slider/dist/rzslider.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>

    <script src="js/main.js"></script>
</head>

<body>
<div class="container" ng-app="enclosure">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 content">
            <h3>Enclosure</h3>
            <form>
                <div class="form-group">
                    <div ng-controller="EnclosureController">
                        <div>
                            <label for="width">Width:</label>
                            <rzslider id="width"
                                      rz-slider-model="slider.min"
                                      rz-slider-high="slider.max"
                                      rz-slider-options="slider.options"></rzslider>
                        </div>
                        <div class="dropdown">
                            <label for="enclosure">Enclosure</label><br>
                            <button class="btn btn-default dropdown-toggle"
                                    type="button" id="enclosure" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                - Please select <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li ng-repeat="enclosure in enclosures | rangeFilter:this" value="{{enclosure.articlenumber}}">
                                    <a ng-click="enclosureitemselected(enclosure)">{{enclosure.description}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div ng-controller="ColorController">
                        <div class="dropdown">
                            <label for="color">Color</label><br>
                            <button class="btn btn-default dropdown-toggle" type="button" id="color" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                - Please select <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li ng-repeat="(key,value) in colors" value="{{key}}"><a ng-click="coloritemselected(key)">{{value}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

</body>
</html>